extends layout
block content
  #app(data-id= = bucket._id, data-name = bucket.name)
  - src = process.env.NODE_ENV === 'production' ? 'buckets.js' : 'http://localhost:8080/buckets.js'
  script(src=src)
